{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <table class="table table-bordered" id="ROB">
            <tr>
                {% for col in type %}
                    <th>{{ col }}</th>
                {% endfor %}
                {% for marker in mark %}
                    <th>{{ marker }}</th>
                {% endfor %}
            </tr>
            {% for p in range(size) %}
                <tr id="ROB_row{{p}}">
                    {% for q in range(type|length) %}
                        <th class="ROB_col{{q}}"></th>
                    {% endfor %}
                    {% for markers in mark %}
                        <th class="ROB_{{markers}}"></th>
                    {% endfor %}                
                </tr>
            {% endfor %}
        </table>
        
        <input type="button" id="fetch" value="Click"></input>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var instructions = JSON.parse('{{ inst|tojson|safe }}');
    </script>
    
    <script src="{{url_for('static', filename='rob.js')}}"></script>
{% endblock script %}